# Environment variables (Secret API keys)
.env

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Streamlit config/cache
.streamlit/
